
@{
    ViewBag.Title = "Commercianti";
}
@{ var bkg = ViewBag.Title + "_s.jpg";}
<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="text-center">Commercianti</h1>
            @*<img alt="" class="img-responsive img-circle" src="/Content/Images/commercianti.jpg" />*@

        </div>
        <div class="col-md-6 box1">
            <h3>Un valore aggiunto alla proposta commerciale sul territorio!</h3>
            @if (!Request.IsAuthenticated)
            {
                <h4>Per operare come commerciante devi essere registrato</h4>
                <h5>Se sei già registrato @Html.ActionLink("Accedi", "Login","Account") </h5>
                <h5>Se non sei registrato</h5>
                <a class="btn btn-primary" href="/Account/register">Registrati a <span class="red">K</span>ilometro <span class="red">Z</span>ero.</a>
            }

            @if (Request.IsAuthenticated && !User.IsInRole("Commerciante") && !User.IsInRole("Comune"))
            {
                <h4>Per operare come commerciante devi essere accreditato dal tuo comune</h4>
                
                         <a class="btn btn-primary" href="KZeroCommercianti/Main">Accredita la tua attività</a>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Commerciante"))
            {
                <h4>Gestisci i tuoi prodotti</h4>
                <a class="btn btn-primary" href="KZeroCommercianti/Main">Entra</a>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Un servizio per il commercio
        </h2>
        <p>
            Se hai un'attività commerciale o sei un professionista, puoi sfruttare questo portale e creare una tua vetrina.<br />
            Solo i possessori di partita IVA possono aprire una posizione su <span class="red">K</span>ilometro <span class="red">Z</span>ero.
        </p>
        <p>
            Por operare come commerciantedevi prima di tutto registrarti al sito e poi richiedere al tuo comune l'autorizzazione. Quando il comune avrà riconosciuto valida la tua posizione sarai abilitato all'inserimento e gestione dei tuoi prodotti. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Opportunità
        </h2>
        <p>
            Offri i tuoi servizi.<br />
            Metti in vetrina i tuoi prodotti.<br />
            In una vetrina globale sulla città, un rapporto nuovo con nuovi clienti, un modo nuovo di fare commercio.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            La semplicità
        </h2>
        <p>
            Una piattaforma altamente tecnologica trasformata in semplice applicazione per le attività commerciali.<br />
        </p>
        <ul>
            <li>mettere in vetrina i propri prodotti</li>
            <li>rendere visibili le offerte</li>
            <li>offrire i servizi</li>

        </ul>
    </div>
</div>

