
@{
    ViewBag.Title = "Comuni";
}

@{ var bkg = ViewBag.Title + "_s.jpg";}

<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Comuni</h2>
            @*<img alt="" class="img-responsive" src="/Content/Images/comuni.png" />*@
        </div>
        <div class="col-md-6 box1">
            <h3>Dare più valore e importanza alle risorse locali!</h3>
            @if (!Request.IsAuthenticated)
            {
                <h4>
                    Sei un amministratore comunale?<br />
                </h4><br/>
                @Html.ActionLink("Accredita", "MailCreditComune", "Home")
                <a class="btn btn-primary" href="/Home/MailCreditComune.cshtml">Accredita il comune a <span class="red">K</span>ilometro <span class="red">Z</span>ero.</a>
           }

            @if (Request.IsAuthenticated && !User.IsInRole("Comune"))
            {
                <h4>
                    Sei un amministratore comunale?<br />
                </h4>
                <a class="btn btn-primary" href="/Account/register">Accredita il comune a <span class="red">K</span>ilometro <span class="red">Z</span>ero.</a>
    }
            @if (Request.IsAuthenticated && User.IsInRole("Comune"))
            {
                <h4>Gestisci i commercianti</h4>
                <a class="btn btn-primary" href="KZeroCommercianti/Main">Entra</a>
            }


        </div>
    </div>

















</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Un servizio al cittadino
        </h2>
        <p>
            Un servizio erogato dal portale del comune, al pari di altri strumenti che già i commercianti utilizzano, semplice e potente allo stesso momento<br />
            Per poter raggiungere da casa le opportunità che la nostra città mette a disposizione.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Opportunità
        </h2>
        <p>
            L'attenzione allo sviluppo delle opportunità legate al territorio, alla vicinanza di ciò che ci serve e nello stesso tempo il contributo allo sviluppo di iniziative e attività
            che interagiscono con la vita del comune e dei cittadini stessi.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            La semplicità
        </h2>
        <p>
            La semplicità di uno strumento potente è il segreto dell'efficienza.<br />
            Semplicemente offrire nuovi servizi al commercio a alla vita sociale
        </p>
    </div>
</div>

