@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
            <!--- ricerca generica nome_prodotto--->
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Scegli ta tua città <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Caravaggio</a></li>
                                <li><a href="#">Treviglio</a></li>
                                <li><a href="#">Cremona</a></li>
                                <li><a href="#">ecc... ecc...</a></li>
                            </ul>
                        </div>                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Che cosa stai cercando...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <!--- filtra per categoria--->
            <!--- filtra per categoria fine--->
        </div>
        <!--- fine ricerca generica nome_prodotto--->
        <div class="col-md-6">
            <img class="img-responsive" src="/Content/Images/CaravaggioLente.jpg"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <h1 class="glyphicon glyphicon-euro"></h1>
        <h2>Sei un commerciante?</h2>
        <a class="btn btn-primary" href="/Home/CommerciantiFree">Cogli l'occasione</a>
    </div>
    <div class="col-md-4 text-center">
        <h1 class="glyphicon glyphicon-user"></h1>
        <h2>Sei un cittadino?</h2>
        <a class="btn btn-primary" href="/Home/Cittadini">Vivi la città</a>
    </div>
    <div class="col-md-4 text-center">
        <h1 class="glyphicon glyphicon-home"></h1>
        <h2>Comune</h2>
        <a class="btn btn-primary" href="/Home/Comuni">Offri opportunità</a>
    </div>
</div>
