@model IEnumerable<KilometroZero7.Models.Prodotti>

@{
    ViewBag.Title = "KilometroZero";
}
@{ var bkg = ViewBag.Title + "_s.jpg";}


<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
        </div>
        <div class="col-md-6 box1">
            <h3>
                In che città ti trovi?<br />
                    @Html.DropDownList("Comune", null, String.Empty, new { @id = "ddlcomune" })
                <button type="button" id="ScriviButton" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Ok
                </button>
                <script>
                        $('#ScriviButton').on('click', function () {
                            $.cookie('comune', $('#ddlcomune').val());
                            $('#lblcookie').text($.cookie('comune'));
                            window.location.href = 'IndexCom';

                        })
                </script>
                      </h3>
            <h4>Perchè non vedo la mia città?</h4>
               </div>
    </div>
</div>

            <div class="row">
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-euro"></h1>
                    <h2>Sei un commerciante?</h2>
                    @Html.ActionLink("Cogli l'occasione", "Commercianti", "Home", new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-user"></h1>
                    <h2>Sei un cittadino?</h2>
                    @Html.ActionLink("Vivi la città", "Cittadini", "Home", new { @class = "btn btn-primary"})
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-tower"></h1>
                    <h2>Comune</h2>
                    @Html.ActionLink("Offri l'opportunità", "Comuni", "Home", new { @class = "btn btn-primary" })
                </div>
            </div>
@section scripts
    {
        <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    }