@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
            <p class="lead">Che cosa stai cercando?</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/Content/Images/CaravaggioLente.jpg" />
        </div>
    </div>
</div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-euro"></h1>
                    <h2>Sei un commerciante?</h2>
                    <button type="button" data-loading-text="Loading..." class="btn btn-primary">
                        Cogli l'occasione
                    </button>
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-user"></h1>
                    <h2>Sei un cittadino?</h2>
                    <button type="button" id="btnCittadino" data-loading-text="Loading..." class="btn btn-primary">
                        Vivi la città
                    </button>
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-home"></h1>
                    <h2>Comune</h2>
                    <button type="button" id="btnComune" data-loading-text="Loading..." class="btn btn-primary">
                        Offri opportunità
                    </button>
                </div>
            </div>
