
@{
    ViewBag.Title = "Sent";
}

<h2>Il messaggio è stato inviato correttamente!</h2><hr/>
<h3>I dati che hai inserito verranno controllati dal tuo comune.</h3>
<h3>Ti verranno comunicati i dati per l'accesso al portale.</h3>

