
@{
    ViewBag.Title = "SentCreditComune";
}

<h2>La richiesta è stata inviata correttamente</h2>
<p>Verrai contattato all'indirizzo mail o al numero di telefono che hai indicato nella richiesta per l'attivazione del comune.</p>

