body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* settaggio aggiuntivo*/
.red {
    color:#900707;
    font-size:1.5em;
}
.red1 {
    color:#900707;
    font-size:1em;
    text-shadow: 0px 0px 8px #bfbfbf;
}
.white{
    color:#f3f3f3;
}
.almishCesare {
    font-style:italic;
}
    .almishCesare a {
        text-decoration:none;
        color:#333333;
    }
    .almishCesare b {
        font-style:normal;
        color: red;
        font-weight:bold;
    }

.box1 {
    background-color:rgba(34, 34, 34, 0.6);
    border-radius:5px;
    padding:13px;
    color:#f1f1f1;
}
.box1 input{
    color:#000000;
}
.box1 select{color:#000000}
.img-user{
    height:50px;
}
.img-prodottto{
    height:200px;
}
.img-prodotto-big{
    height:400px;
}
