@model IEnumerable<KilometroZero7.Models.Comuni>

@{
    ViewBag.Title = "ddlist";
}

<h2>ddlist</h2>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    @Html.DisplayNameFor(model => model.nome_comune)
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(modelItem => item.nome_comune)</li>
        }
    </ul>
</div>