@{
    ViewBag.Title = "KilometroZero";
    var bkg = ViewBag.Title + "_s.jpg";}
<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
        </div>
        <div class="col-md-6 box1">
            <h3 class="white">
                In che paese ti trovi?<br />
            </h3>
            <h3>
                Che cosa stai cercando?<br />
            </h3>
            <div class="btn btn-primary">Trova</div>
            @*<img class="img-responsive" src="/Content/Images/CaravaggioLente.jpg" />*@
        </div>
    </div>
</div>
